.wrapper-reservations-main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 25px 15px;

    & .reservations-none-active{
        align-items: center;
    }
}

.reservations{
    display: flex;
    flex-direction: column;
    padding: 5px;
    row-gap: 15px;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.wrapper-reservation-item{
    width: 100%;
}
.wrapper-reservationData{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.wrapper-reservations-none{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-item{
    display: flex;
    justify-content: space-between;
    background-color: #5f5c5c;
    border: 1px solid #5f5c5c;
    border-radius: 14px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

.section-reservationDate{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.reservationDate-title{
    display: flex;
    justify-content: flex-start;

    & h2 {
        font-size: 22px;
        font-family: var(--font-accent);
        font-weight: 400;
        font-style: normal;
        color: var(--text-color);
    }
}
.wrapper-reservationDate{
    display: flex;
    justify-content: space-between;

    & .reservationDate{
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        & .wrapper-reservation-date{
            display: flex;
            column-gap: 25px;
        }

        & h3{
            display: flex;
            align-items: center;
            text-align: center;
            column-gap: 5px;
            font-family: var(--font-main);
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            color: var(--text-color);
        }

        & p{
            font-family: var(--font-main);
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            color: var(--text-color);
        }
    }
}

.section-informationData{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.informationData-title{
    display: flex;
    justify-content: flex-start;

    & h2{
        font-size: 22px;
        font-family: var(--font-accent);
        font-weight: 400;
        font-style: normal;
        color: var(--text-color);
    }
}

.wrapper-informationData{
    display: flex;
    column-gap: 35px;

    .informationData-user{
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
    .informationData-order{
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }
    & p{
        font-family: var(--font-main);
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        color: var(--text-color);
    }
}
.wrapper-reservationIcons{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.reservationIcons{

    display: flex;
    column-gap: 7px;

    & img {
        width: 34px;
        height: 34px;
        border-radius: 50%;

        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 5px rgba($color: #0f0e0e, $alpha: 1.0);
            transition: 0.2s;
        }
    }
}

.reservation-status{
    & .reservation-status__p{
        text-align: center;
        border: 1px solid rgb(218, 131, 25);
        background-color: rgb(218, 131, 25);
        padding: 7px;
        border-radius: 14px;
        color: var(--text-color);
        font-weight: 400;
        font-style: normal;
    }

    & .reservation-status_active{
        text-align: center;
        border: 1px solid rgba($color: #17a01e, $alpha: 1.0);
        background-color: rgba($color: #17a01e, $alpha: 1.0);
        padding: 7px;
        border-radius: 14px;
        color: var(--text-color);
        font-weight: 400;
        font-style: normal;
    }

    .reservation-status_canceled{
        text-align: center;
        border: 1px solid rgba($color: #bb1e1e, $alpha: 1.0);
        background-color: rgba($color: #bb1e1e, $alpha: 1.0);
        padding: 7px;
        border-radius: 14px;
        color: var(--text-color);
        font-weight: 400;
        font-style: normal;
    }
}

.reservationsicons__button-save{
    padding: 5px;
    background-color: rgb(77, 153, 229);
    color: var(--text-color);
    border-radius: 15px;

    &:hover{
        box-shadow: 0px 0px 5px rgba($color: #0f0e0e, $alpha: 1.0);
        transition: 0.2s;
    }
}

.reservation-edit-icon{
    width: 18px;
    height: 18px;
    &:hover{
        cursor: pointer;
    }
}

.reservation-input-change{
    background-color: #3c3c3c;
    border-radius: 13px;
    padding: 2px 5px;
}
.input-change-date{
    width: 81px;
}
.input-change-time{
    padding: 2px 7px;
    width: 58px;
}
.input-change-name{
    padding: 2px 10px;
    width: 200px;
}
.input-change-phone{
    width: 150px;
}
.input-change-hours{
    width: 40px;
}
.input-change-seats{
    width: 43px;
}

// None-reservations

.reservations-none{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    background-color: #5f5c5c;
    border: 1px solid #5f5c5c;
    border-radius: 15px;
    padding: 8px;
}

.none-title{
    & h2{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-weight: 500;
        font-style: normal;
        font-size: 23px;
    }
}

.none-add{
    & img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        
        &:hover{
            cursor: pointer;
            box-shadow: 0px 0px 8px rgba($color: #383535, $alpha: 1.0);
        }
    }
}

.none-main{
    & p {
        color: var(--text-color);
        font-family: var(--font-main);
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
    }
}

// Reservation Form Userver

.form-userver{
    position: relative;

    &::after{
        position: absolute;
        content: "";
        background-image: url('../../../assets/img/icons/reservationitem-icons/x-mark.png');
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        right: 10px;
        top: 45px;
    }
}

.form-userver-title{

    margin-bottom: 10px;

    & h2{
        color: var(--text-color);
        font-family: var(--font-accent);
        font-weight: 500;
        font-size: 26px;
        font-style: normal;
        text-align: center;
    }
}

.reservation-form__click{
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    right: 10px;
    top: 7px;
    z-index: 3;

    &:hover{
        cursor: pointer;
        box-shadow: 0px 0px 6px rgba($color: #161616, $alpha: 1.0);
    }
}

.wrapper-addNewRes-button{
    padding-top: 10px;

    & .addNewRes-button__button{
        border: 1px solid #5f5c5c;
        padding: 10px;
        background-color: #5f5c5c;
        border-radius: 13px;
    }

}