.wrapper-questions-page{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 10px;
}

.questions-page{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: #5f5c5c;
    border: 1px solid #5f5c5c;
    padding: 15px;
    border-radius: 14px;
}

.questions-page-title{
    & h2{
        font-size: 24px;
        font-family: var(--font-accent);
        font-weight: 400;
        font-style: normal;
        color: var(--text-color);
    }
}

.wrapper-questions-form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.questions-form{    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    width: 100%;

    & .questions-form__textarea{
        padding: 10px;
        border-radius: 14px;
        background-color: #474646;
        color: var(--text-color);
        font-weight: 400;
        font-style: normal;
        width: 100%;
        height: 100vh;
        max-width: 350px;
        max-height: 100px;
        outline: none;

        &::placeholder{
            color: #c2bebe;
        }
    }

    & .questions-form__button{
        padding: 10px;
        background-color: #474646;
        border: 1px solid #474646;
        border-radius: 14px;
        color: var(--text-color);

        &:hover{
            box-shadow: 0px 0px 2px rgba($color: #151515, $alpha: 1.0);
        }
    }
}

.answer-section-title{
    & p{
        text-align: center;
        max-width: 580px;
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        color: var(--text-color);
    }
}