.section-second-wrapper{
    padding: 20px 0px;
}

.section-second{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 5px 0px;
}

.section-second-title{
    & h2 {
        font-family: var(--font-accent);
        color: var(--text-color);
        font-weight: 500;
        font-style: normal;
        font-size: 52px;
    }
}

.schedule-spisok-wrapper{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.schedule-spisok{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    justify-content: center;

    & li {
        font-family: var(--font-main);
        color: var(--text-color);
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
    }
}

