.information-page-userver{
    border: 1px solid #5f5c5c;
    border-radius: 14px;
    background-color: #5f5c5c;
    padding: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    width: 100%;
    max-width: 490px;
    max-height: 300px;
}

.information-status_userver{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
}

.information-main-status__span{
    text-align: center;
    padding: 7px;
    border-radius: 14px;
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
}

.information-status_closed{
    border: 1px solid rgba($color: #bb1e1e, $alpha: 1.0);
    background-color: rgba($color: #bb1e1e, $alpha: 1.0);
}

.information-status_open{
    border: 1px solid rgba($color: #17a01e, $alpha: 1.0);
    background-color: rgba($color: #17a01e, $alpha: 1.0);
}

.information-times_userver{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;

    & h3{
        font-family: var(--font-accent);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        color: var(--text-color);
    }
}

.information-days_userver{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;

    & h3{
        font-family: var(--font-accent);
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        color: var(--text-color);
    }
}